Repository BenFordTytherington/cxx-qt: changes, and which Codecov flags are due for each by the changed paths.
All: cxx-qt, cxx-qt-build, cxx-qt-gen, cxx-qt-lib, cxx-qt-macro

codecov.yml:

coverage:
  status:
    project: true
    patch: true

ignore:
  - "./cxx_tests/" # This got included for some reason in either build or test and is not relevant to unit tests

component_management: # Allows separate statistics and reports for individual paths
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module-cxx-qt
      name: cxx-qt
      paths:
        - crates/cxx-qt/**
    - component_id: module-cxx-qt-build
      name: cxx-qt-build
      paths:
        - crates/cxx-qt-build/**
        - crates/qt-build-utils/**
    - component_id: module-cxx-qt-gen
      name: cxx-qt-gen
      paths:
        - crates/cxx-qt-gen/**
    - component_id: module-cxx-qt-lib
      name: cxx-qt-lib
      paths:
        - crates/cxx-qt-lib/**
        - crates/cxx-qt-lib-extras/**
    - component_id: module-cxx-qt-macro
      name: cxx-qt-macro
      paths:
        - crates/cxx-qt-macro/**

Add target and threshold to codecov.yml
  codecov.yml
Due: none

cxx-qt-lib: qdatetime put deprecated behind cfg flag
  crates/cxx-qt-lib/src/core/qdatetime.rs
Due: cxx-qt-lib

Add CamelCase conversion for blocks marked as auto_case - Methods, Inherited methods and QSignals can now automatically convert case - Adds 2 basic tests for this functionality
  crates/cxx-qt-gen/Cargo.toml
  crates/cxx-qt-gen/src/naming/name.rs
  crates/cxx-qt-gen/src/naming/type_names.rs
  crates/cxx-qt-gen/src/parser/cxxqtdata.rs
  crates/cxx-qt-gen/src/parser/externqobject.rs
  crates/cxx-qt-gen/src/parser/inherit.rs
  crates/cxx-qt-gen/src/parser/method.rs
  crates/cxx-qt-gen/src/parser/qenum.rs
  crates/cxx-qt-gen/src/parser/qobject.rs
  crates/cxx-qt-gen/src/parser/signals.rs
Due: cxx-qt-gen

Add AutoCase support to extern blocks and pass this information to function parsers - Enum has None or CamelCase for now - Attribute syntax is #[auto_case] - Attribute currently has no effect
  crates/cxx-qt-gen/src/generator/cpp/inherit.rs
  crates/cxx-qt-gen/src/generator/cpp/property/signal.rs
  crates/cxx-qt-gen/src/generator/rust/inherit.rs
  crates/cxx-qt-gen/src/generator/rust/property/signal.rs
  crates/cxx-qt-gen/src/parser/cxxqtdata.rs
  crates/cxx-qt-gen/src/parser/externcxxqt.rs
  crates/cxx-qt-gen/src/parser/inherit.rs
  crates/cxx-qt-gen/src/parser/method.rs
  crates/cxx-qt-gen/src/parser/mod.rs
  crates/cxx-qt-gen/src/parser/signals.rs
  crates/cxx-qt-gen/src/syntax/types.rs
Due: cxx-qt-gen

Switch case conversion so that extern C++Qt blocks convert to snake case instead - Adds an automatic case conversion to passthrough and naming test - Adds unit tests to test feature
  CHANGELOG.md
  crates/cxx-qt-gen/src/generator/cpp/inherit.rs
  crates/cxx-qt-gen/src/generator/cpp/property/signal.rs
  crates/cxx-qt-gen/src/generator/rust/inherit.rs
  crates/cxx-qt-gen/src/generator/rust/property/signal.rs
  crates/cxx-qt-gen/src/naming/name.rs
  crates/cxx-qt-gen/src/naming/type_names.rs
  crates/cxx-qt-gen/src/parser/cxxqtdata.rs
  crates/cxx-qt-gen/src/parser/externcxxqt.rs
  crates/cxx-qt-gen/src/parser/externqobject.rs
  crates/cxx-qt-gen/src/parser/inherit.rs
  crates/cxx-qt-gen/src/parser/method.rs
  crates/cxx-qt-gen/src/parser/mod.rs
  crates/cxx-qt-gen/src/parser/qenum.rs
  crates/cxx-qt-gen/src/parser/qobject.rs
  crates/cxx-qt-gen/src/parser/signals.rs
  crates/cxx-qt-gen/src/syntax/types.rs
  crates/cxx-qt-gen/test_inputs/passthrough_and_naming.rs
  crates/cxx-qt-gen/test_outputs/passthrough_and_naming.h
  crates/cxx-qt-gen/test_outputs/passthrough_and_naming.rs
Due: cxx-qt-gen
